@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @apply bg-background-300 text-text;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@keyframes moveCar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(115vw));
  }
}

@keyframes movePoliceCar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(115vw));
  }
}

@keyframes moveCarIn {
  0% {
    transform: translateX(-10vw);
  }
  100% {
    transform: translateX(0vw);
  }
}

.animate-moveCar {
  animation: moveCar 6s ease-in-out forwards;
}

.animate-movePoliceCar {
  animation: movePoliceCar 6s ease-in-out forwards;
}

.animate-moveCarIn {
  animation: moveCarIn 1s ease-in-out forwards;
}
